/*importing the neccassary font style required for the application*/

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/*providing global styling on margins and padding in order to keep general styling consistant*/

*{
  margin: 0%;
  padding: 0%;
  font-family: "Inter Tight", sans-serif;
  color: #424153;
}

.App {
  text-align: center;
}


